caption {
    caption-side: top;
    text-align: center;
    font-size: larger;
    font-weight: 900;
    padding: 50px;
}

table {
    margin: auto;
    width: 50% !important;
    max-width: 500px;
    margin-top: 50px;
}

.page {
    height: max-content;
    min-height: 500px;
    background-color: rgb(167, 189, 108);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: medium;
  }
 .fas { margin-right: 5px;

 }

 strong {
     font-size: 20px;
 }

 i {
     font-size: 20px;
 }