caption {
    caption-side: top;
    text-align: center;
    font-size: larger;
    font-weight: 900;
    padding: 50px;
}

table {
    margin: auto;
    width: 50% !important;
    margin-top: 50px;
}

.page {
    height: max-content;
    min-height: 500px;
    background-color: rgb(238, 232, 151);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: medium;
  }

