
.container {
    margin-top: 100px;
}

.page {
    height: max-content;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: medium;
  }

 .fas { margin-right: 5px;

 }

 strong {
     font-size: 20px;
 }

 i {
     font-size: 20px;
 }
 body {
     background-color: rgb(199, 199, 199);
 }