/* body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
*/

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 60px;
  color: darkorchid;
  font-weight: 900;
}
